#ball{


width: 64px;
height: 64px;

position: absolute;

}

#paddle1,#paddle2{


    width: 24px; 
    height: 192px;
position: absolute;

}


body {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    }


#scores{
justify-content: center;
align-items: center;
display: flex;
font-size: 40px;
margin-top: 20px;

margin-bottom: 20px;

}